// all the setup things

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 // partials

 @import '_grid';
 @import '_colours';

 // let's go!

body {
	background: url(../kw/images/espresso.jpg);
	background-position: center;
	background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

 .site {
 	margin: 0 auto;
 }

 .divider {
    position : relative;
    display : block;
    margin : 0 auto;
    transform: skewY(170deg);
    padding: 100px 0;
    .content {
		transform: skewY(10deg);
		max-width: 960px;
		margin: 0 auto;
		padding: 20px 20px 50px 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		.logo {
			text-align: center;
			font-size: 3em;
			margin: -50px auto 10px auto;
			span {
				padding: 20px;
				border-radius: 50%;
			}
		}
		h2 {
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 50px;
		}
    }
}

.site-header {
	color: $clouds;
	text-align: center;
	text-transform: uppercase;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 20px 50px 20px;
	a {
		color: $clouds;
		text-decoration: none;
	}
	h1 {
		font-size: 2.5em;
		padding: 100px 0 0 0;
		text-shadow: 3px 3px 0 #111;
	}
	h3 {
		font-size: 1.15em;
		letter-spacing: 2px;
		padding: 0 0 100px 0;
		text-shadow: 2px 2px 0 #111;
	}
	.menu {
		.primary-navigation {
			font-family: 'Raleway', sans-serif;
			float: left;
			a {
				transition: color .5s ease;
				&:hover {
					color: $alizarin;
				}
			}
			ul {
				padding: 0;
				text-align: left;
				list-style-type: none;
				font-size: .8em;
				margin: 0;
				li {
					display: inline;
					margin: 0 20px 0 0;
				}
			}
		}
		.social {
			float: left;
			a {
				transition: color .5s ease;
				&:hover {
					color: $alizarin;
				}
			}
			text-align: left;
			span {
				margin: 0 10px 0 0;
			}
		}
	}
}

.header-main {
	transition: all 1s ease;
}

.fixed {
	display: none;
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	height: auto;
	padding: 10px 0;
	line-height: 1.5;
	box-shadow: 0 0 3px #000;
	a {
		color: #000;
	}
	h1 {
		padding: 0;
		margin: 0;
		font-weight: lighter;
		font-size: 1.5em;
		display: inline-block;
		text-shadow: none;
	}
	h3 {
		display: none;
	}
	.menu {
		display: inline-block;
		margin-left: 10px;
		.primary-navigation {
			float: none;
			display: inline-block;
			ul {
				color: #000;
			}
			.menu-primary-container {
				display: inline-block;
			}
		}
		.social {
			float: none;
			display: inline-block;
		}
	}
}
.about {
	background: url(../kw/images/black-Linen.png);
	color: $clouds;
	font-size: .85em;
	line-height: 1.5;
	a {
		color: $clouds;
		text-decoration: underline;
	}
	img {
		border-radius: 50%;
		float: left;
		margin: 0 30px;
		border: 2px solid $pomegranate;
	}
	.logo {
		span {
			color: #333;
			background: $clouds;
		}
	}
}

.skills {
	background: $peterRiver;
	color: $clouds;
	text-align: center;
	a {
		font-family: 'Raleway', sans-serif;
		@include column(3);
		padding: 50px;
		color: #666;
		background-color: #fff;
		margin-bottom: 2%;
		text-decoration: none;
		border-radius: 5px;
		border: 1px solid $asbestos;
		height: 200px;
		font-weight: 400;
		transition: all .3s ease;
		.icon {
			font-size: 4em;
			display: block;
			margin-bottom: 10px;
		}
		&:hover {
			background: $peterRiver;
			color: #fff;
			border-color: #fff;
		}
	}
	p {
		clear: both;
	}
	ul {
		list-style-type: none;
		margin-bottom: 10px;
	}
	.logo {
		span {
			color: $peterRiver;
			background: $clouds;
		}
	}
}

.portfolio {
	background: #fff;
	color: #000;
	z-index: 1;
	h1 {
		font-size: 1.5em;
	}
	.item {
		a {
			color: #000;
			text-decoration: none;
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
		@include column(4);
		border-radius: 5px;
		border: 1px solid $asbestos;
		padding: 5px 10px;
		margin-bottom: 2%;
		position: relative;
		height: 350px;
		overflow: hidden;
		.info {
			padding: 10px;
			.title {
				font-size: 1em;
				margin: 0;
			}
			.desc {
				font-size: .9em;
			} 
			.tags {
				font-size: .8em;
			}
			.client {
				font-size: .7em;
				color: $silver;
				margin: 0;
			}
			.link {
				font-size: .8em;
			}
		}
		img {
			width: 100%;
			border-radius: 5px;
			opacity: .7;
			transition: all 1s ease;
		}
	}
	.logo {
		span {
			color: #fff;
			background: #000;
		}
	}
}

.theBlog {
	background: $midnightBlue;
	color: $clouds;
	section {
		@include column(6);
		height: 430px;
		overflow: hidden;
		margin-bottom: 2%;
		color: black;
		background: white;
		border-radius: 5px;
		font-size: .7em;
		&:hover {
			opacity: 0.6;
		}
		.info {
			padding: 10px;
			background: #fff;
			.title {
				@include column(12);
				@include push(2);
				font-weight: lighter;
				margin: 0;
			}
			.date {
				line-height: 1.2;
				@include column(2);
				text-align: center;
				text-transform: uppercase;
				padding-right: 5px;
				.day {
					font-size: 3em;
				}
				.month {
					font-size: 1em;
				}
				.year {
					font-size: 1.3em;
				}
			}
			.excerpt {
				@include column(10);
				font-size: 1.5em;
				p {
					line-height: 1.5;
				}
			}
			.tags {
				clear: both;
			}
		}
		a {
			color: $midnightBlue;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
			border-radius: 5px;
			padding: 0;
		}
	}
	.logo {
		span {
			color: $midnightBlue;
			background: $clouds;
		}
	}
}

footer {
	font-family: 'Open Sans', sans-serif;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.social {
		transform: skewY(170deg);
		width: 100%;
		padding: 50px;
		margin-top: 150px;
		color: $pomegranate;
		background: white;
		font-size: 1.1em;
		text-align: center;
		span {
			margin: 0 50px 0 0;
		}
		a {
			color: $pomegranate;
			text-decoration: none;
			&:hover {
				color: darken($pomegranate, 20%);
			}
		}
	}
	.site-info {
		vertical-align: bottom;
		text-align: center;
		font-weight: lighter;
		color: #fff;
		font-size: .8em;
		letter-spacing: 1px;
		text-shadow: 2px 2px 0 #000;
		margin-top: 150px;
		padding: 5px;
	}
}

.content-area {
	position : relative;
    display : block;
    margin : 0 auto;
    transform: skewY(170deg);
    padding: 100px 0;
  	background: #fff;

  	.site-content {
  		transform: skewY(10deg);
  		max-width: 960px;
  		margin: 0 auto;
  		padding: 20px 20px 50px 20px;
  		font-family: 'Open Sans', sans-serif;
  		font-weight: lighter;

  		.page-content {
  			.search-form {
  				input {
  					border: 1px solid $wetAsphalt;
  					outline: 0;
  					font-weight: lighter;
  				}
  				.search-submit {
  					background: $clouds;
  					border: 0;
  				}
  			}
  		}

  		.content-sidebar {
  			h1.widget-title {
  				font-size: 1.5em;
  			}
  			ul {
  				padding: 20px;
  			}
  		}

		article.type-portfolio {
			padding-bottom: 50px;
			border-bottom: 1px dotted $concrete;
		}

		article {
			figure {
				float: left;
				margin: 0 10px 10px 0;
				.wp-caption-text {
					font-size: .8em;
					font-style: italic;
				}
			}
		}

  		.external {
  			font-size: .8em;
  		}
  		.taggedImage {
  			@include column(5);
  		}
  		.taggedInfo {
  			@include column(7);
  		}
  		.portfolioItem {
  			.images{
  				@include column(12);
  			}
  		}
  		.left {
  			@include column(9);
  		}
  		.right {
  			@include column(3);
  		}
  		a {
  			color: $midnightBlue;
  			text-decoration: none;
  			font-weight: bold;
  		}
  		a.post-thumbnail {
  			display: none;
  		}
  		p {
  			line-height: 1.5;
  		}
  		.byline {
  			font-weight: lighter;
  		}
  	}
}

// RESPONSIVATE!

@media (max-width: 940px) {
	.content-area {
		.site-content {
			.left {
				@include column(12);
			}
			.right {
				@include column(12);
			}
		}
	}
	.skills {
		a {
			@include column(6);
			margin-bottom: 2%;
		}
	}
}

@media (max-width: 840px) {
	.content-area {
		.site-content {
			.taggedImage {
				@include column(12);
			}
			.taggedInfo {
				@include column(12);
			}
		}
	}
}

@media (max-width: 768px) {
	.portfolio {
		.item {
			@include column(12);
			.infoBox {
				position: relative;
				width: 100%;
				transform: none;
				.info {
					transform: none;
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.theBlog {
		section {
			@include column(12);
			margin-bottom: 20px;
			height: auto;
			img {
				height: auto;
			}
		}
	}
}

@media (max-width: 480px) {
	footer {
		.social {
			span {
				margin: 0 30px 0 0;
			}
		}
	}
}